.MMM-FullsizeCover  {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000000;
	padding-top: 25%;  /* play around to set the height */
	display: none;
}
.MMM-FullsizeCover.hide-image {
	display: none;
}
.MMM-FullsizeCover.show-image {
	display: block;
}
.MMM-FullsizeCover img {
	margin: 0 auto 0;
	display: block;
}
